{% extends "layout.html" %}

{% block body_content %}
    {% for entry in datapack[Entry] %}  <!--"entry" holds the values of each Enrty i.e."entry[id]"-->
        <div class="entryLayout">
            <div id="header" class="entryMain"> <!--Start of the header-->
                <div class="header-lb">
                    <div>
                        {{ entry[title] }}
                    </div>
                    <div>
                        <div>{{ entry[created] }}</div>
                        <div>{{ entry[auther] }}</div>
                    </div>
                </div>
                {% if entry[thumbnail] == true %} <!--If a Thumbnail exists include it on the html page-->
                    <div  class="header-rb" style="background-image: url({{ entry[thumbnail] }});">
                        {% if entry[response] == "active" %}
                            <div style="background-color: #000000;">
                        {% if entry[response] == "unknown" %}
                            <div style="background-color: #000000;">
                        {% if entry[response] == "error" %}
                            <div style="background-color: #000000;">
                        {% endif %}
                            <a href="{{ entry[target] }}">{{ entry[response] }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div id="body" class="bodyMain">
                {% for block in datapack[blocks] %} <!--blocks to be delivered in order-->
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% if entry[theme] == "post" %}
                    <div class="">
                        {% if  %}
                        {% endif %}   
                    </div>
                {% elif entry[theme][post] %}
                {% endif  %}